{{ form_start(registrationForm) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="col-md-6">
        {{ form_row(registrationForm.plainPassword) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(registrationForm.firstName) }}
    </div>
    <div class="col-md-6">
        {{ form_row(registrationForm.lastName) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(registrationForm.address) }}
    </div>
    <div class="col-md-4">
        {{ form_row(registrationForm.city) }}
    </div>
    <div class="col-md-4">
        {{ form_row(registrationForm.country) }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>
    <div class="col-md-6 text-right">
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</div>
{{ form_end(registrationForm) }}