{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Room index</h1>
        <a class="btn btn-primary" href="{{ path('room_new') }}">Créer une nouvelle salle</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Category</th>
                <th>City</th>
                <th>Wifi</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.category }}</td>
                <td>{{ room.city }}</td>
                <td>{% if room.hasWifi == true %}Wifi disponible{% else %} Pas de wifi {% endif %}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('room_show', {'id': room.id}) }}">Voir</a>
                    <a class="btn btn-success" href="{{ path('room_edit', {'id': room.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}
