<div class="container">
    <h1>Une nouvelle salle a été ajoutée</h1>
    <ul>
        <li>{{ room.name }}</li>
        <li>{{ room.capacity }}</li>
        <li>{{ room.category }}</li>
        <li>{{ room.city }}</li>
        <li>{{ room.user.firstName }}</li>
    </ul>
    <p>Vous venez de creer une nouvelle salle.</p>
    <p>Cette email ne sert a rien.</p>
</div>